<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{128,255}</string>
                <key>spriteSourceSize</key>
                <string>{150,259}</string>
                <key>textureRect</key>
                <string>{{133,1},{128,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,2}</string>
                <key>spriteSize</key>
                <string>{136,243}</string>
                <key>spriteSourceSize</key>
                <string>{150,259}</string>
                <key>textureRect</key>
                <string>{{1,260},{136,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,5}</string>
                <key>spriteSize</key>
                <string>{124,247}</string>
                <key>spriteSourceSize</key>
                <string>{150,259}</string>
                <key>textureRect</key>
                <string>{{139,258},{124,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,6}</string>
                <key>spriteSize</key>
                <string>{114,247}</string>
                <key>spriteSourceSize</key>
                <string>{150,259}</string>
                <key>textureRect</key>
                <string>{{381,256},{114,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,3}</string>
                <key>spriteSize</key>
                <string>{114,251}</string>
                <key>spriteSourceSize</key>
                <string>{150,259}</string>
                <key>textureRect</key>
                <string>{{265,256},{114,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{110,251}</string>
                <key>spriteSourceSize</key>
                <string>{150,259}</string>
                <key>textureRect</key>
                <string>{{383,1},{110,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,3}</string>
                <key>spriteSize</key>
                <string>{118,253}</string>
                <key>spriteSourceSize</key>
                <string>{150,259}</string>
                <key>textureRect</key>
                <string>{{263,1},{118,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,1}</string>
                <key>spriteSize</key>
                <string>{130,257}</string>
                <key>spriteSourceSize</key>
                <string>{150,259}</string>
                <key>textureRect</key>
                <string>{{1,1},{130,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>man.png</string>
            <key>size</key>
            <string>{496,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13c8ed44e815289efa4a53476763421b:e2e14dd4392794d4d4dbd768213de3ee:9726a7d24f6732a879348f4bb849313b$</string>
            <key>textureFileName</key>
            <string>Resources\man.png</string>
        </dict>
    </dict>
</plist>
