<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>exitnormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,62}</string>
                <key>spriteSourceSize</key>
                <string>{256,62}</string>
                <key>textureRect</key>
                <string>{{1,1},{256,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exitselected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,62}</string>
                <key>spriteSourceSize</key>
                <string>{256,62}</string>
                <key>textureRect</key>
                <string>{{259,1},{256,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>startnormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,62}</string>
                <key>spriteSourceSize</key>
                <string>{256,62}</string>
                <key>textureRect</key>
                <string>{{517,1},{256,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>startselected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,62}</string>
                <key>spriteSourceSize</key>
                <string>{256,62}</string>
                <key>textureRect</key>
                <string>{{775,1},{256,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Resources\menuitem.png</string>
            <key>size</key>
            <string>{1032,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7c077ccbe0c957d3cd04ee6d7269404:04daff99126bdc9046f836e31417668a:609c3b7d64fb381bb8af8e6ad6c276d1$</string>
            <key>textureFileName</key>
            <string>Resources\menuitem.png</string>
        </dict>
    </dict>
</plist>
